<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <form action="/comment/edit/update/<%=EditData.id%>?_method=PATCH"  method="POST">

            <input type="text" name="username" value="<%=EditData.username%>">
            <br>
            <br>
            <input type="text" name ="discr" value="<%=EditData.discr%>">
            <br>
            <br>
            <button type="submit">update</button>
        </form> 
   
</body>
</html>