<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="form_for.css"> -->
   
</head>
<body>
    
    <form action="/comment" method="POST">
        <input type="text" placeholder="Enter name" name="username" >
        <br>
        <br>
        <input type="text" placeholder="Enter name" name="discr">
        <br>
        <br>
        <button type="submit">save</button>

    </form>

 

</body>
</html>