 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <fieldset>
        <legend>GET</legend>
        <form action="/user" method="GET">
            <input name="name" type="text" placeholder="Enter your name">
            <br>
            <br>
            <input name="pass" type="password" placeholder="Enter your password">
            <br>
            <br>
            <button>sbmit</button>
        </form>
    </fieldset>
     <br>
     <br>
    <fieldset>
        <legend>Post</legend>
        <form action="/user" method="POST">
            <input name="name" type="text" placeholder="Enter your name">
            <br>
            <br>
            <input name="pass" type="password" placeholder="Enter your password">
            <br>
            <br>
            <button>sbmit</button>
        </form>
    </fieldset>
 </body>
 </html>